body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-fluid{
    display: flex;
    flex-direction: row;
}
.grid{
    display: grid;
    grid-template-areas: 'header'
                         'section'
                         'footer';
    grid-auto-columns: 50vw;
    grid-auto-rows: 10vh 80vh 10vh;
    width: 50%;
}

header{
    grid-area: header;
    background-color: #DF380F;
    color: white;
}


.navbar{
    background-color: rgb(223, 56, 15);
}
.navbar a:hover{
    color: #DF380F !important;
    background-color: #FFFFFF;
    padding: 5px;
}
.links{
    color: #FFFFFF !important;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
}

.navbar-brand img{
    display: none;
}
.navbar-brand{
    display: none;
}

section{
    grid-area: section;
    background-color: #DF380F;
    color: white;
    height: auto;
}
.lista{
    list-style-type: none;
}
p.text{
    font-size: 16pt;
}
footer{
    grid-area: footer;
    background-color: #DF380F;
    color: white;
}

@media screen and (max-width: 1080px){
    body{
        margin:0;
        padding: 0;
    
    }
    .grid{
        display: grid;
        grid-template-areas: 'header'
                             'section'
                             'footer';
        grid-auto-columns: 100vw;
        grid-auto-rows: 20vh 90vh 10vh;
        
    }
    header{
        grid: header;
        background-color: #FFFFFF;
        
    }
    
    .navbar{
        background-color: #FFFFFF;
    }
    

    .links{
        color: #DF380F !important;
    }

    section{
        grid: section;
        padding: 5px;
    }
    footer{
        grid: footer;
    }
    .navbar-brand img{
        display: inline-flex;
    }
    .navbar-brand{
        display: inline-flex;
        
    }
    
    .imagem img{
        display: none;
    }
    .imagem{
        display: none;
    }
}